doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    // CSS (load bootstrap)
    base(href='/agent/')

    meta(name='description', content='Yak Hub instant call center')
    meta(name='author', content='Tom Murray')
    link(rel='icon', href='/favicon.ico')
    title Yak Hub

    // Bootstrap core CSS
    link(href='/libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet')

    // Yak hub font
    link(href="http://fonts.googleapis.com/css?family=Dosis:300,400,500" rel="stylesheet" type="text/css")

    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600,700', rel='stylesheet', type='text/css')
    link(href='/libs/font-awesome/css/font-awesome.min.css')

    //textAngular
    link(rel='stylesheet', href='/libs/textAngular/dist/textAngular.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.css')

    // Custom styles for this template
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/animations.css', rel='stylesheet')
    link(href='/css/stripe.css', rel='stylesheet')

  body(ng-app='app')
    //- // NAVIGATION
    //- // MAIN CONTENT
    <div id='MainView' ui-view></div>
  script(src='/libs/jquery/dist/jquery.min.js')
  script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
  script(src='//static.twilio.com/libs/twiliojs/1.2/twilio.min.js')
  script(src="https://js.pusher.com/3.0/pusher.min.js")
  script(src="https://js.stripe.com/v2/")
  script(src='/libs/angular/angular.min.js')
  script(src='/libs/angular-sanitize/angular-sanitize.min.js')
  script(src='/libs/angular-intercom-mini/intercom.js')
  script(src='/libs/angular-ui-router/release/angular-ui-router.min.js')
  script(src='/libs/angular-clipboard/angular-clipboard.js')
  script(src='/libs/angular-animate/angular-animate.min.js')
  script(src="/libs/angular-strap/dist/angular-strap.min.js")
  script(src="/libs/angular-strap/dist/angular-strap.tpl.min.js")
  script(src='js/app.js')
  // Services
  script(src='js/services/client.js')
  script(src='js/services/alert.js')
  script(src='js/services/campaign.js')
  script(src='js/services/lead.js')
  script(src='js/services/call.js')
  script(src='js/services/agent.js')
  script(src='js/services/message.js')
  // Controller
  script(src='js/controllers/login.js')
  script(src='js/controllers/stripe.js')
  script(src='js/controllers/home.js')
  script(src='js/controllers/brief.js')
  script(src='js/controllers/campaigns.js')
  script(src='js/controllers/dialer.js')