<div class='col-xs-12'>
	<h2>Add numbers</h2>
	<div class='col-xs-6'>
		<table class="table table-hover">
			<tr ng-repeat='person in list["client"]'>
				<td><a href='' ng-click='addNumbers.chooseClient(person._id)'>{{person.name}}</a></td>
			</tr>
		</table>
	</div>
	<div class='col-xs-6' ng-show='addNumbers.clientChosen'>
	    <form name="json">
	        <div>
	            <label for="jsonNumbers">Json numbers:</label>
	            <textarea class="form-control" rows="10" id="jsonNumbers" ng-model="jsonNumbers"></textarea>
	        </div>
	        <button type="button" class="btn btn-primary" ng-click="add(addNumbers.client_id)">Add numbers</button>
	    </form>
	</div>
</div>