<div class='col-xs-8'>
	<h2>Leads</h2>
	<table class="table table-hover">
		<tr>
			<th>Business</th>
			<th>Address</th>
			<th>Enthusiasm</th>
			<th>Number</th>
			<!-- <th>Recording</th> -->
			<th>Notes</th>
		</tr>
		<tr ng-repeat="lead in clientLeads | orderBy:'time':false">
			<!-- <td>{{lead._id}}</td> -->
			<td>{{lead.business}}</td>
			<td>{{lead.address}}</td>
			<td>{{lead.enthusiasm}}</td>
			<td>{{lead.number}}</td>
			<!-- <td><a href='' ng-click='showRecording(lead.RecordingUrl)'>recording</a></td> -->
			<td>{{lead.notes}}</td>
		</tr>
	</table>
</div>