<div class='col-xs-12'>
	<h2>Leads</h2>
	<table class="table table-hover">
		<tr>
			<th>Business</th>
			<th>Address</th>
			<th>Enthusiasm</th>
			<th>Number</th>
			<!-- <th>Recording</th> -->
			<th>Notes</th>
			<th>Date</th>
			<th>Followed up</th>
		</tr>
		<tr ng-repeat="lead in clientLeads | orderBy:'created':true" class='{{followedColour(lead)}}'>
			<!-- <td>{{lead._id}}</td> -->
			<td>{{lead.business}}</td>
			<td>{{lead.address}}</td>
			<td>{{lead.enthusiasm}}</td>
			<td>{{lead.number}}</td>
			<!-- <td><a href='' ng-click='showRecording(lead.RecordingUrl)'>recording</a></td> -->
			<td>{{lead.notes}}</td>
			<td>{{lead.created.getDate()}}/{{lead.created.getMonth()}}/{{lead.created.getFullYear()}}</td>
			<td><input type='checkbox' ng-change='onFollowedUp(lead.leads_id,lead.followed)' ng-model="lead.followed"></td>
		</tr>
	</table>
</div>