<div class='col-xs-6'>
    <h2>Phone</h2>
    <div class='row'>
        <div class='col-xs-6'>
            <div class="panel panel-default">
                <div class="panel-body">
                    Phone Number: {{ number }}<br/>
                    Business: {{ business }}<br/>
                    Address: {{ address }}<br/>
                </div>
                <a href="" ng-click="phone.getNextNumber()">
                    <div class="panel-footer bold-center">Get next number</div>
                </a>
                <a href="" ng-click="phone.skipNumber()">
                    <div class="panel-footer bold-center">Skip number</div>
                </a>
            </div>
        </div>
        <div class='col-xs-6'>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" ng-model="phone.newNumber" class="form-control"  aria-describedby="basic-addon1" autocomplete="off" placeholder="Number...">
                    </div>
                    <div class="input-group">
                        <input type="text" ng-model="phone.newBusiness" class="form-control" aria-describedby="basic-addon1" autocomplete="off" placeholder="Business...">
                    </div>
                    <div class="input-group">
                        <input type="text" ng-model="phone.newAddress" class="form-control" aria-describedby="basic-addon1" autocomplete="off" placeholder="Address...">
                    </div>
                </div>
                <a href="" ng-click="phone.addNewNumber(phone.newNumber,phone.newBusiness,phone.newAddress)">
                    <div class="panel-footer bold-center">Custom number</div>
                </a>
            </div>
        </div>
    </div>
    <a href="" ng-click="phone.call()">
        <div class="alert col-xs-6 call-button">Call</div>
    </a>
    <a href="" ng-click="phone.hangUp()">
        <div class="alert col-xs-6 hang-up-button">Hang-up</div>
    </a>
    <div class="alert alert-info bold-center">{{ log }}</div>

    <form name="myForm" >
        <div class="row">
            <div class="col-sm-3">
                Picked up:
                <ul>
                    <li>
                        <input type="radio" ng-model="phone.pickedup" value='true'> Yes
                    </li>
                    <li>
                        <input type="radio" ng-model="phone.pickedup" value='false'> No
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                Lead:
                <ul>
                    <li>
                        <input type="radio" ng-model="phone.lead" value='true'> Yes
                    </li>
                    <li>
                        <input type="radio" ng-model="phone.lead" value='false'> No
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-4">
                    Enthusiasm:
                </div>
                <div class="col-sm-1">
                    <input type="radio" ng-model="phone.enthusiasm" value="0"> 0 <br/>
                </div>
                <div class="col-sm-1">
                    <input type="radio" ng-model="phone.enthusiasm" value="1"> 1 <br/>
                </div>
                <div class="col-sm-1">
                    <input type="radio" ng-model="phone.enthusiasm" value="2"> 2 <br/>
                </div>
                <div class="col-sm-1">
                    <input type="radio" ng-model="phone.enthusiasm" value="3"> 3 <br/>
                </div>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">?</span>
            <input type="text" class="form-control" placeholder="Contact email" aria-describedby="basic-addon1" ng-model='contactEmail'>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">?</span>
            <input type="text" class="form-control" placeholder="Additional number" aria-describedby="basic-addon1" ng-model='additionalNumber'>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading bold-center">Call notes</div>
            <!-- <div class="panel-body"> -->
                <textarea class="form-control panel-body" rows="10" id="phoneCallNotes" ng-model="phoneCallNotes"></textarea>
            <!-- </div> -->
            <a href="" ng-click="phone.addNotes()">
                <div class="panel-footer bold-center">Add notes</div>
            </a>
        </div>
    </form>
</div>