<div class='col-xs-6'>
	<h2>Stats</h2>
	<div class='row'>
		<div class='col-xs-6'>
			<h4>For today</h4>
		</div>
		<div class='col-xs-6'>
			<canvas id="dataToday" class="chart chart-bar" data="dataToday" labels="labels"></canvas> 
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-6'>
			<h4>For this week</h4>
		</div>
		<div class='col-xs-6'>
			<canvas id="dataWeek" class="chart chart-bar" data="dataWeek" labels="labels"></canvas> 
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-6'>
			<h4>For all time</h4>
		</div>
		<div class='col-xs-6'>
			<canvas id="dataAll" class="chart chart-bar" data="dataAll" labels="labels"></canvas> 
		</div>
	</div>
</div>