<div class="popover" tabindex="-1">
  <div class="arrow"></div>
  <h3 class="popover-title">Add agent</h3>
  <div class="popover-content">
    <form name="popoverForm">
      <p style="min-width:300px;"></p>
        <strong>Agents</strong>
        <input class='form-control' ng-model='agent_name'>
        <div id="" style="overflow-y: scroll; height:200px;">
          <div class='row' ng-repeat='agent in agents | filter:agent_name' ng-hide='added(campaign,agent)'>
            <div class='col-xs-6'>{{agent.name}}</div>
            <div class='col-xs-6'>
              <button class='btn btn-primary' ng-click='addAgent(agent,campaign)'>Add</button>
            </div>
          </div>
       </div>
      </pre>
    </form>
  </div>
</div>