<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Congrats on becoming a Yak Hub agent!</h4>
      </div>
      <div class="modal-body">
        <p>Hi, welcome to Yak Hub! This page is your profile page. Fill out the different fields about yourself. After you've done that, you can:</p>
        <ol>
          <li>Browse the different agents in the system</li>
          <li>Browse the different campaigns in the system</li>
          <li>Apply to join different campaigns</li>
        </ol>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" ng-click="testimonial.save(testimonial.agent,testimonial.text);$hide();">Save</button>
        <button type="button" class="btn btn-primary" ng-click="$hide();">Cancel</button> -->
      </div>
    </div>
  </div>
</div>