.ng-enter, .ng-leave {
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*-webkit-transition:all .35s ease-in-out;*/
  /*transition:all .35s ease-in-out;*/
}

.ng-enter {
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  -webkit-transition:all .35s ease-in-out;
  transition:all .35s ease-in-out;
}

.ng-enter {
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  opacity: 1;
}

.ng-leave-active {
  opacity: 0;
}