.ng-enter, .ng-leave {
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*-webkit-transition:all .35s ease-in-out;*/
  /*transition:all .35s ease-in-out;*/
}

.ng-enter {
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  -webkit-transition:all .35s ease-in-out;
  transition:all .35s ease-in-out;
}

<<<<<<< HEAD

=======
>>>>>>> d0ca265bbcc0767f930e471637fde35591e0eac5
.ng-enter {
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  opacity: 1;
}

.ng-leave-active {
  opacity: 0;
}