<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Selecting agents for your campaign</h4>
      </div>
      <div class="modal-body">
        <p>Here we choose the agents we want to work on our campaign. In order to invite an agent to your campaign, you have to</p>
        <ol>
          <li>Browse the list of agents</li>
          <li>View the profiles of the agents that look appealing</li>
          <li>Invite them to your campaign</li>
        </ol>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" ng-click="testimonial.save(testimonial.agent,testimonial.text);$hide();">Save</button>
        <button type="button" class="btn btn-primary" ng-click="$hide();">Cancel</button> -->
      </div>
    </div>
  </div>
</div>