div#main.navbar.navbar-default.navbar-static-top(ng-controller='navbarCtrl')
  div.container
    div.navbar-header
      a.navbar-brand(href='' ng-click='home()') Yak Hub

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav.nav-text
        li
          a(href='',style='color: white;' ng-click='browse()') Browse Agents
      ul.nav.navbar-nav.navbar-right.nav-text

        li.divider-vertical

        if !(type == "messages" || type == 'profile')
          li(style='margin-left:20px;margin-right:20px;')
            select#main-campaign-select.form-control(style='margin-top:10px;', ng-model='current_campaign', ng-change='change(current_campaign)')
              option(ng-repeat='campaign in campaigns', value='{{campaign._id}}' ng-bind='campaign.name') Loading...
                span.glyphicon.glyphicon-menu-down
        li
          a(href='', ng-click='go("messages")')
            span.glyphicon.glyphicon-inbox
          //- span(style='margin-top: 18px;margin-left:20px;margin-right:20px;').glyphicon.glyphicon-inbox
        li
          a(href='', ng-click='go("notifications")')
            if (notified)
              span.glyphicon.glyphicon-bell
            else
              span.glyphicon.glyphicon-bell
              span.badge.badge-notify !

        li.dropdown
          a#drop.dropdown-toggle(href='#', data-toggle='dropdown',style='color: white;') #{name}
            span(style='margin-left: 10px;').glyphicon.glyphicon-menu-down
            ul.dropdown-menu(aria-labelledby='drop',style='z-index:1;')
              li
                a(href='' ng-click='showNewCampaignModal()') New campaign
              li
                a(href='' ng-click='go("billing")') Billing info
              li.divider(role='separator')
              li
                a(href='' ng-click='logout()') Logout
