div#sub-nav.navbar.navbar-default.navbar-static-top(style='background:#FFFFFF;margin-top:-20px;',ng-controller='navbarSubCtrl')
  div.container(style='color: white;')
    div.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav.nav-text
        li
          if type == "messages"
            a(href='', ng-click='go("messages")', style='color: blue; margin-left: -15px;') Messages
          else
            a(href='', ng-click='go("messages")', style='margin-left: -15px;') Messages
        li
          if type == "notifications"
            a(href='', ng-click='go("notifications")', style='color: blue;') Notifications
          else
            a(href='', ng-click='go("notifications")') Notifications