#main.navbar.navbar-default.navbar-static-top
	.container
		.navbar-header
			a.navbar-brand(href='' ng-click='home()') Yak Hub

		#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
			ul.nav.navbar-nav.nav-text
				li
					a(href='',style='color: white;' ng-click='browse()') Browse Agents
			ul.nav.navbar-nav.navbar-right.nav-text
				li.divider-vertical
				li
					button#make-new-campaign.btn.btn-primary(href='' ng-click='newCampaign()' style='margin-top:10px;') Make new campaign
				li
					a(href='' ng-click='logout()') Logout

<div id='SubView' ui-view></div>