.container
  .col-md-offset-4.col-md-4(ng-show='!not_login')
    center
      form.form-signin(ng-submit='login()')
        input.form-control.enter(placeholder='Username or email' type='text' ng-model='user_login.username')
        input.form-control.enter(placeholder='Password' type='password' ng-model='user_login.password')
        button.btn.button(type='submit') LOG IN