.container.setup-container
	.col-md-12
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Campaign name
			div.col-md-8
				input.form-control.cust-input.ng-cloak(placeholder='Your campaign\'s name' type='text' ng-model='campaign.name')

		div.row.setup-spacer
			div.col-md-4
				h4.section-title Campaign objective
			div.col-md-8
				textarea.form-control.ng-cloak(rows='5', placeholder='What\'s your objective? For instance: finding leads with need X, getting an appointment booked etc.' ng-model='campaign.objective')

		div.row.setup-spacer
			div.col-md-4
				h4.section-title Description/instructions
			div.col-md-8
				textarea.form-control.ng-cloak(rows='5', placeholder='Do you have any specific instructions for callers?' ng-model='campaign.description')
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Score definition
				br
				strong Agents can score leads from 0 to 3 stars. Define what each score means.
				br
				|For example:
				br
				|0 = Not interested
				|3 = Appointment booked
			div.col-md-8
				div.input-group.margin-input.ng-cloak
					span#zero.input-group-addon 0
					input.form-control.cust-input(type='text', placeholder='', aria-describedby='zero' ng-model='campaign.score_definition.zero')
				div.input-group.margin-input.ng-cloak
					span#one.input-group-addon 1
					input.form-control.cust-input(type='text', placeholder='', aria-describedby='one' ng-model='campaign.score_definition.one')
				div.input-group.margin-input.ng-cloak
					span#two.input-group-addon 2
					input.form-control.cust-input(type='text', placeholder='', aria-describedby='two' ng-model='campaign.score_definition.two')
				div.input-group.margin-input.ng-cloak
					span#three.input-group-addon 3
					input.form-control.cust-input(type='text', placeholder='', aria-describedby='three' ng-model='campaign.score_definition.three')
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Your contact info
			div.col-md-8
				div.row
					div.col-md-6
						input.form-control.cust-input.margin-input.ng-cloak(type='text',placeholder='Name of in-house contact' ng-model='campaign.contact_info.name')
					div.col-md-6
						input.form-control.cust-input.margin-input.ng-cloak(type='text',placeholder='Role/Job Title' ng-model='campaign.contact_info.role')
					div.col-md-6
						input.form-control.cust-input.margin-input.ng-cloak(type='text',placeholder='Phone Number' ng-model='campaign.contact_info.phone')
					div.col-md-6
						input.form-control.cust-input.margin-input.ng-cloak(type='text',placeholder='Email' ng-model='campaign.contact_info.email')
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Dates
			div.col-md-4
				input.form-control.cust-input(type='text', ng-model='campaign.start_date', name='start_date', bs-datepicker, placeholder='Start date')
			div.col-md-4
				input.form-control.cust-input(type='text', ng-model='campaign.end_date', name='end_date', bs-datepicker, placeholder='End date')
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Days
			div.col-md-8
				button.cust-button.btn(class='{{dayChosen("mon")}}' ng-click='chooseDay("mon")') Monday
				button.cust-button.btn(class='{{dayChosen("tues")}}' ng-click='chooseDay("tues")') Tuesday
				button.cust-button.btn(class='{{dayChosen("wed")}}' ng-click='chooseDay("wed")') Wednesday
				button.cust-button.btn(class='{{dayChosen("thurs")}}' ng-click='chooseDay("thurs")') Thursday
				button.cust-button.btn(class='{{dayChosen("fri")}}' ng-click='chooseDay("fri")') Friday
				button.cust-button.btn(class='{{dayChosen("sat")}}' ng-click='chooseDay("sat")') Saturday
				button.cust-button.btn(class='{{dayChosen("sun")}}' ng-click='chooseDay("sun")') Sunday
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Times
			div.col-md-2
				input.form-control.cust-input(type="number" ng-model="start_time" name="start_time" placeholder='Start time' ng-change='changeTime("start")')
			div.col-md-2
				select.form-control.cust-input(ng-model='start_time_period' ng-change='timePick(start_time_period,"start")')
					option AM
					option PM
			div.col-md-2
				input.form-control.cust-input(type="number" ng-model="end_time" name="end_time" placeholder='End time' ng-change='changeTime("end")')
			div.col-md-2
				select.form-control.cust-input(ng-model='end_time_period' ng-change='timePick(end_time_period,"end")')
					option AM
					option PM