.container
	h3 Summary
	button.btn.btn-success.live-button(ng-click='changeLive(true)' ng-show='!campaign.live') Go live!
	button.btn.btn-danger.live-button(ng-click='changeLive(false)' ng-show='campaign.live') Stop the campaign!
	.col-md-offset-1.col-md-10
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Campaign name
			div.col-md-8
				h5 {{campaign.name}}

		div.row.setup-spacer
			div.col-md-4
				h4.section-title Campaign objective
			div.col-md-8
				h5 {{campaign.objective}}

		div.row.setup-spacer
			div.col-md-4
				h4.section-title Description/instructions
			div.col-md-8
				h5 {{ campaign.description }}
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Score definition
			div.col-md-8
				div.input-group.ng-cloak
					h5 0: {{ campaign.score_definition.zero }}
				div.input-group.ng-cloak
					h5 1: {{ campaign.score_definition.one }}
				div.input-group.ng-cloak
					h5 2: {{ campaign.score_definition.two }}
				div.input-group.ng-cloak
					h5 3: {{ campaign.score_definition.three }}
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Your contact info
			div.col-md-8
				div.row
					div.col-md-6
						h5 Name {{ campaign.contact_info.name }}
					div.col-md-6
						h5 Role: {{ campaign.contact_info.role }}
					div.col-md-6
						h5 Phone: {{ campaign.contact_info.phone }}
					div.col-md-6
						h5 Email: {{ campaign.contact_info.email }}
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Dates
			div.col-md-4
				p Start: {{campaign.start_date | formatDate}}
			div.col-md-4
				p End: {{campaign.end_date | formatDate}}
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Days
			div.col-md-8
				h5 {{getDays()}}
		div.row.setup-spacer
			div.col-md-4
				h4.section-title Times
			div.col-md-4
				h5 {{start_time}} {{start_time_period}}
			div.col-md-4
				h5 {{end_time}} {{end_time_period}}