div(ng-show='current_screen=="brief"')
	include setup.brief.jade
div(ng-show='current_screen=="script"')
	include setup.script.jade
div(ng-show='current_screen=="faq"')
	include setup.faq.jade
div(ng-show='current_screen=="list"')
	include setup.list.jade
div(ng-show='current_screen=="confirm"')
	include setup.summary.jade

div(style='margin-bottom: 80px;')
footer.footer
	.container.setup-links-container
		.row
			.col-xs-1
			.col-xs-2.setup-links-col
				div(class='{{isCurrentScreenForWrapper("brief")}}')
					a(href='' ng-click='changeScreen("brief")')
						h5.setup-links-h5(class='{{isCurrentScreen("brief")}}') Brief
			.col-xs-2.setup-links-col
				div(class='{{isCurrentScreenForWrapper("script")}}')
					a(href='' ng-click='changeScreen("script")')
						h5.setup-links-h5(class='{{isCurrentScreen("script")}}') Script
			.col-xs-2.setup-links-col
				div(class='{{isCurrentScreenForWrapper("faq")}}')
					a(href='' ng-click='changeScreen("faq")')
						h5.setup-links-h5(class='{{isCurrentScreen("faq")}}') FAQ
			.col-xs-2.setup-links-col
				div(class='{{isCurrentScreenForWrapper("list")}}')
					a(href='' ng-click='changeScreen("list")')
						h5.setup-links-h5(class='{{isCurrentScreen("list")}}') List
			.col-xs-2.setup-links-col
				div(class='launch-link')
					a(href='' ng-click='changeScreen("confirm")')
						h5.launch-link-h5(class='{{isCurrentScreen("confirm")}}') Launch/Pause
			.col-xs-1