.container
	.row.list-options-row
		.col-md-6
			.list-called-container
				label.list-called(for='called') Called
				input(type='checkbox', value='called', name='called' ng-model='filter.called' ng-change='called()')
			.list-called-container
				label.list-called(for='called') Uncalled
				input(type='checkbox', value='called', name='called' ng-model='filter.uncalled' ng-change='uncalled()')
			.list-called-container
				label.list-called(for='called') Outcome
			.list-called-container
				select.form-control(ng-model='filter.outcome', ng-change='changeOutcome()' style='float:right; border-top: 20px;')
					option(value='') All
					option(value='No answer') No answer
					option(value='Call later') Call later
					option(value='Success') Success
					option(value='Unsuccessful') Unsuccessful
					option(value='Automated response') Automated response
					option(value="Number didn't work") Number didn't work
					option(value='Do not call') Do not call
		.col-md-6
			.list-pagination-container
				a.page-change(href='' ng-click='changePage(page-1)')
					span Prev
				div.dropdown
					button#dateDropdown.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true',style="float:left;")
						strong
							span.ng-cloak Page {{page+1}}
						//- span.caretspan.glyphicon.glyphicon-triangle-bottom
					ul.dropdown-menu(aria-labelledby='dateDropdown')
						li(ng-repeat='i in getNumber(noOfPages)')
							a(href='', ng-click='changePage(i)') Page {{i+1}}
				a.page-change(href='' ng-click='changePage(page+1)')
					span Next

	.row.ng-cloak
		.col-md-12
			table.table.table-striped.white
				thead
					tr
						th
							strong Company
						th
							strong Number
						th
							strong Person
						th
							strong Role
						th
							strong Email
						th
							strong Called
						th
							strong Call Timestamp
						th
							strong Call Outcome
				tr(ng-repeat='lead in leads | leadFilter : filter | pageFilter : page : pageEntries')
					td
						| {{lead.company}}
					td
						| {{lead.number}}
					td
						| {{lead.person.name}}
					td
						| {{lead.person.role}}
					td
						| {{lead.email}}
					td
						| {{isCalled(lead)}}
					td
						| {{lead.call_timestamp | formatDate}}
					td
						| {{lead.outcome}}
	.row.list-buttons-row.ng-cloak
		button.btn.btn-primary.button-add-qual.list-button.pull-left(ng-click='showCSVModal()') ADD NUMBERS
		button.btn.btn-danger.button-add-qual.pull-left(ng-click='remove()') REMOVE NUMBERS
		button.btn.btn-success.button-add-qual.pull-right(ng-click='download()') DOWNLOAD CSV

