#main.navbar.navbar-default.navbar-static-top.navbar-custom
	.container
		.navbar-header
			a.navbar-brand(href='') Yak Hub
.container
	.col-md-offset-3.col-md-6
		img(src='/assets/images/admin-login.png' style='width:100%; margin-top:-30px;')
.container
	.col-md-offset-4.col-md-4(ng-show='!not_login')
		center
			form.form-signin(ng-submit='login()')
				input.form-control.enter(placeholder='Username or email' type='text' ng-model='user_login.username')
				input.form-control.enter(placeholder='Password' type='password' ng-model='user_login.password')
				button.btn.button(type='submit') LOG IN
	//- 	a(href='' ng-click='not_login=!not_login')
	//- 		p.change-enter Need to sign up?
	//- .col-md-offset-4.col-md-4(ng-show='not_login')
	//- 	center
	//- 		form.form-signin(ng-submit='signup()')
	//- 			input.form-control.enter(placeholder='Name' type='text' ng-model='user_signup.username.name')
	//- 			input.form-control.enter(placeholder='Email' type='text' ng-model='user_signup.username.email')
	//- 			input.form-control.enter(placeholder='Password' type='password' ng-model='user_signup.password')
	//- 			button.btn.button.done(type='submit') SIGN UP
	//- 	a(href='' ng-click='not_login=!not_login')
	//- 		p.change-enter Already signed up?