script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='bower_components/angular/angular.min.js')
script(src='bower_components/angular-sanitize/angular-sanitize.min.js')
script(src='bower_components/angular-animate/angular-animate.min.js')
script(src='bower_components/angular-strap/dist/angular-strap.min.js')
script(src='bower_components/angular-strap/dist/angular-strap.tpl.min.js')
script(src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js")
script(src="bower_components/ng-file-upload/ng-file-upload.min.js")
script(src='agent/js/app.services.js')
script(src='agent/js/navbar.js')
script(src='agent/js/navbar-sub.js')