include header.jade
body.greyish(ng-app='notificationsApp' ng-controller='notificationsCtrl')
	include ./navbars/main.jade
	include ./navbars/messages-notifications.jade
	#notifications.container
		div.ng-cloak.campaign-separator(ng-repeat='campaign in campaigns')
			.row
				.col-md-2
					button.btn.btn-success.request-button(ng-click='seeRequests(campaign)') Request time
				.col-md-6
					h3 Notifications for 
						a(href='' ng-click='campaignPage(campaign)') {{campaign.name}}
			hr
			.row(ng-show='!anyNotifications(campaign.requested)')
				.col-md-offset-2.col-md-10
					h4 No current notifications
			.row(ng-show='anyNotifications(campaign.requested)')
				.col-md-offset-2.col-md-10
					h3 Requests
			div(ng-repeat='(day,requests) in campaign.requested')
				.row
					.col-md-offset-2.col-md-10
						h4 {{getDay(day)}}
						strong Times
				.row(ng-repeat='request in requests')
					.col-md-offset-1.col-md-1
						span(class='{{seenBefore(request)}}')
					.col-md-2
						p {{request.time.getHours()}}:00
					.col-md-8
						p {{request.status}}
	// /container

	include footer.jade
	script(src='agent/js/notifications.js')