include header.jade
body.greyish(ng-app='profileApp' ng-controller='profileCtrl')
	include ./navbars/main.jade
	//- include ./navbars/sub.jade
	#profile.container
		.row
			.col-md-3
				.row.left-side-outer
					.col-md-12.left-side-inner
						center
							span.glyphicon.glyphicon-user
							br
							h3(ng-bind='agent.name')
							br
							span(ng-bind='"Worked on " + agent.campaigns.length + " Campaigns"')
							br
							span(ng-bind='total+" hours call time"')
							br
							strong(ng-bind="'Location:'")
							br
							span.glyphicon.glyphicon-map-marker
							span(ng-show='!edit_location' ng-bind='agent.location' ng-click='editLocation()')
							if (mine)
								span.glyphicon.glyphicon-pencil(ng-show='agent.location=="" && !edit_location' ng-click='editLocation()')
								input.form-control.ng-cloak(ng-show='edit_location' ng-model='agent.location')
								br
								button.btn.btn-success.ng-cloak(ng-show='edit_location' ng-click='saveLocation()') Save
			.col-md-9
				.row.right-side-outer
					.col-md-12.right-side-inner
						h3
							strong(ng-show='!edit_price' ng-bind='"£"+agent.price+"/hour"')
						if (mine)
							span.glyphicon.glyphicon-pencil(ng-show='!edit_price' ng-click='editPrice()')
							input.form-control.ng-cloak(ng-show='edit_price' ng-model='agent.price')
							button.btn.btn-success.ng-cloak(ng-click='savePrice()' ng-show='edit_price') Save
						br
						button.available-div
							strong(ng-bind='"Available "+findAvailability(agent)+" hours this week"')
						br
						div.skills-div(ng-repeat='skill in agent.skills')
							strong(ng-bind='skill') Loading...
							if (mine)
								span.glyphicon.glyphicon-remove(ng-click='removeSkill($index)')
						if (mine)
							button.skills-div.ng-cloak(ng-click='addSkill()' ng-show='!adding_skill')
								strong(ng-bind='"+"')
							input.form-control.ng-cloak(ng-show='adding_skill' ng-model='newSkill')
							button.btn.btn-success.ng-cloak(ng-click='saveSkill(newSkill)' ng-show='adding_skill') Save
							button.btn.btn-warning.ng-cloak(ng-click='addSkill()' ng-show='adding_skill') Cancel
						br
						br
						hr
						h3
							strong About me
						p(ng-show='!edit_about_me' ng-bind='agent.about_me')
						if (mine)
							span.glyphicon.glyphicon-pencil(ng-show='!edit_about_me' ng-click='editAboutMe()')
							textarea.form-control.ng-cloak(ng-model='agent.about_me' ng-show='edit_about_me' rows='4')
							button.btn.btn-success.ng-cloak(ng-show='edit_about_me' ng-click='saveAboutMe()') Save
						br
						br
						h3
							strong Past work
						.row.ng-cloak(ng-repeat='campaign in agent.campaigns')
							hr
							.row
								.col-md-6
									strong(ng-bind='campaign.campaign_name')
									br
									span(ng-bind='getRange(campaign)')
								.col-md-6
									span(ng-bind='hoursWorked(allocations[campaign.campaign])+" hours worked"')
							br
							.row
								.col-md-6
									span(class='{{star(campaign.review.rating,1)}}')
									span(class='{{star(campaign.review.rating,2)}}')
									span(class='{{star(campaign.review.rating,3)}}')
									span(class='{{star(campaign.review.rating,4)}}')
									span(class='{{star(campaign.review.rating,5)}}')
							br
							.row
								.col-md-6
									strong Job Summary
									if (mine)
										span.glyphicon.glyphicon-pencil(ng-click='editJob(campaign)' ng-show='!campaign.edit_job')
										button.btn.btn-success.ng-cloak(ng-click='saveJob(campaign)' ng-show='campaign.edit_job') Save
									br
									br
									p(ng-show='!campaign.edit_job' ng-bind='campaign.description')
									if (mine)
										textarea.form-control.ng-cloak(ng-show='campaign.edit_job' rows='3' ng-model='campaign.description')
								.col-md-6
									strong Client testimonial
									br
									br
									p(ng-bind='campaign.review.text')
									br
									p(ng-bind='formatDate(campaign.review.date)')
	// /container

	include footer.jade
	script(src='bower_components/angular-sanitize/angular-sanitize.min.js')
	script(src='bower_components/angular-animate/angular-animate.min.js')
	script(src='bower_components/angular-strap/dist/angular-strap.min.js')
	script(src='bower_components/angular-strap/dist/angular-strap.tpl.min.js')
	script(src='agent/js/profile.js')