include header.jade
body.greyish(ng-app='scheduleApp' ng-controller='scheduleCtrl')
  include ./navbars/main.jade
  //- include ./navbars/sub.jade
  .row
    .container
      .col-md-2
        h3 Schedule
  .row
    .container
      .row
        .col-md-2
            select.form-control(ng-model='current_campaign', ng-change='changeCampaign(current_campaign)')
              option(value='') All campaigns
              option(ng-repeat='campaign in campaigns', value='{{campaign.name}}') {{campaign.name}}
  .row
    .container
      .col-md-6(style='padding:10px; border: solid 1px; border-color:grey; border-radius:5px; background: white; height: 200px;')
        .center
          .row
            .col-md-6
              center
                strong Weekly availability
                br
                p (Applies to all campaigns)
                br
            .col-md-6
              select.form-control(ng-model='agent_available' ng-change='updateAvailable()')
                option(value='true') Available
                option(value='false') Not available
          .row.seven-cols(style='{{availabilitiesColour()}}')
            .col-md-1
              strong Mon
              br
              p(ng-show='!avail_edit' ng-bind='agent.availabilities[0]') 0
              input.form-control.ng-cloak(type='number' ng-show='avail_edit' ng-model='agent.availabilities[0]')
            .col-md-1
              strong Tues
              br
              p(ng-show='!avail_edit' ng-bind='agent.availabilities[1]') 0
              input.form-control.ng-cloak(type='number' ng-show='avail_edit' ng-model='agent.availabilities[1]')
            .col-md-1
              strong Wed
              br
              p(ng-show='!avail_edit' ng-bind='agent.availabilities[2]') 0
              input.form-control.ng-cloak(type='number' ng-show='avail_edit' ng-model='agent.availabilities[2]')
            .col-md-1
              strong Thurs
              br
              p(ng-show='!avail_edit' ng-bind='agent.availabilities[3]') 0
              input.form-control.ng-cloak(type='number' ng-show='avail_edit' ng-model='agent.availabilities[3]')
            .col-md-1
              strong Fri
              br
              p(ng-show='!avail_edit' ng-bind='agent.availabilities[4]') 0
              input.form-control.ng-cloak(type='number' ng-show='avail_edit' ng-model='agent.availabilities[4]')
            .col-md-1
              strong Sat
              br
              p(ng-show='!avail_edit' ng-bind='agent.availabilities[5]') 0
              input.form-control.ng-cloak(type='number' ng-show='avail_edit' ng-model='agent.availabilities[5]')
            .col-md-1
              strong Sun
              br
              p(ng-show='!avail_edit' ng-bind='agent.availabilities[6]') 0
              input.form-control.ng-cloak(type='number' ng-show='avail_edit' ng-model='agent.availabilities[6]')
          .row.ng-cloak(ng-show='agent_available=="true"')
            .col-md-6
              a(href='' ng-click='editAvailability()' ng-show='!avail_edit') Edit availability time
              button.btn.btn-success.ng-cloak(ng-click='updateAvailabilities()' ng-show='avail_edit') Save
      .col-md-6(style='padding:10px; border: solid 1px; border-color:grey; border-radius:5px; background: white; height: 200px;')
        center
          .row
            .col-md-6
              center
                strong Your work
                br
            .col-md-6
              select.form-control(ng-model='range', ng-change='setRange()')
                option(value='86400000') Today
                option(value='604800000') This week
                option(value='2592000000') This month
                option(value='7776000000') Last 3 months
                option(value='15552000000') Last 6 months
          .row
            .col-md-6
              strong Hours complete
              br
              h3.ng-cloak {{hours_complete | number : 2}}
            .col-md-6
              strong Hours left
              br
              h3.ng-cloak {{hours_left | number : 2}}
  .container(style='margin-top:30px;')
    div.row
      .col-md-4
        a.date-change(href='' ng-click='changeDate(-1)')
          span Prev
        strong(ng-bind='months[filter.date.start.getMonth()]+" "+filter.date.start.getDate()+" - "+months[dateWeek[6].getMonth()]+" "+dateWeek[6].getDate()') Loading dates...
        a.date-change(href='' ng-click='changeDate(+1)')
          span Next
      .col-md-8
        a.btn.btn-default(href='' ng-click='seeRequests()' style='float:right;') Request time slots
    div.row.ng-cloak(style='margin-top:20px; background: white;')
      table.table
        tr
          div.row.seven-cols
            td.col-md-1.scheduler-top-left(ng-repeat='day in days')
              center
                strong {{day}}
                br
                | {{months[dateWeek[$index].getMonth()]}} {{dateWeek[$index].getDate()}}
        tr
          div.row.seven-cols
            td.col-md-1.scheduler-left(ng-repeat='day in days')
              div.box
                a.divLink(href='' ng-click='showScheduleModal($index)')
                h5 AM
                br
                center
                  div(ng-repeat='(name,amount) in shownSlots[$index].AM')
                    strong {{name}}
                    br
                    | {{formatHours(amount)}}
                    br
        tr
          div.row.seven-cols
            td.col-md-1.scheduler-left(ng-repeat='day in days')
              div.box
                a.divLink(href='' ng-click='showScheduleModal($index)')
                h5 PM
                br
                center
                  div(ng-repeat='(name,amount) in shownSlots[$index].PM')
                    strong {{name}}
                    br
                    | {{formatHours(amount)}}
                    br
        tr
          div.row.seven-cols
            td.col-md-1.scheduler-left(ng-repeat='day in days')
              center
                strong Total
                br
                | {{getTotal(shownSlots[$index])}} hours

  // /container

  include footer.jade
  script(src='agent/js/schedule.js')