#main.navbar.navbar-default.navbar-static-top.navbar-custom
	.container
		.navbar-header
			a.navbar-brand(href='') Yak Hub
.container
	.col-md-offset-3.col-md-6
		img(src='/assets/images/agent-login.png' style='width:100%; margin-top:-30px;')
	.col-md-offset-4.col-md-4(ng-show='!not_login')
		center
			form.form-signin(ng-submit='login()')
				input.form-control.enter(placeholder='Username or email' type='text' ng-model='user_login.username')
				input.form-control.enter(placeholder='Password' type='password' ng-model='user_login.password')
				button.btn.button(type='submit') LOG IN
		a(href='' ng-click='not_login=!not_login')
			p.change-enter Need to sign up?
	.col-md-offset-4.col-md-4(ng-show='not_login')
		center
			form.form-signin(ng-submit='signup()')
				input.form-control.enter(placeholder='Name' type='text' ng-model='user_signup.username.name')
				input.form-control.enter(placeholder='Email' type='text' ng-model='user_signup.username.email')
				input.form-control.enter(placeholder='Password' type='password' ng-model='user_signup.password')
				.row
					.col-xs-1
						input(type='checkbox' ng-model='agreement')
					.col-xs-11
						p Yes, I understand and agree to the 
							a(href='https://s3-eu-west-1.amazonaws.com/yakhub-chats/uploads/YakHubContractorAgreement.pdf' target='_blank')
								| Yak Hub Contractor Agreement
							| .
				button.btn.button.done(type='submit') SIGN UP
		a(href='' ng-click='not_login=!not_login')
			p.change-enter Already signed up?