<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Testimonial for {{ testimonial.agent.name }}</h4>
      </div>
      <div class="modal-body">
        <textarea class='form-control' rows='8' ng-model='testimonial.text'></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="testimonial.save(testimonial.agent,testimonial.text);$hide();">Save</button>
        <button type="button" class="btn btn-primary" ng-click="$hide();">Cancel</button>
      </div>
    </div>
  </div>
</div>