<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title"> Make a new campaign </h4>
      </div>
      <div class="modal-body">
        <strong>Give your new campaign a name</strong>
        <input class='form-control' type='text' ng-model='modal.newCampaignName'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="modal.makeNewCampaign();$hide()">Make new campaign</button>
        <button type="button" class="btn btn-danger" ng-click="$hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>