<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Welcome to your first campaign!</h4>
      </div>
      <div class="modal-body">
        <p>Hi, welcome to Yak Hub! We are now going to create your first campaign. What we need to get started is:</p>
        <ol>
          <li>A name for your campaign</li>
          <li>A description of your business, or why you want a campaign</li>
          <li>A script for the agents to guide them on the phone calls</li>
          <li>A list of phone numbers for our agents to call</li>
        </ol>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" ng-click="testimonial.save(testimonial.agent,testimonial.text);$hide();">Save</button>
        <button type="button" class="btn btn-primary" ng-click="$hide();">Cancel</button> -->
      </div>
    </div>
  </div>
</div>