include header.jade
body(ng-app='agentApp' ng-controller='agentCtrl')
	include ./navbars/main.jade
	include ./navbars/sub.jade
	include ./navbars/admin.jade

	.container.ng-cloak
		.row
			.col-md-12
				h3 {{agents.length}} agents actively on campaign
		.row.agent-box(ng-repeat='agent in agents')
			.col-md-2
				span.glyphicon.glyphicon-user
			.col-md-5
				h4 {{agent.name}}
				| Invited on {{agent.dates.start.getDay()+1}}/{{agent.dates.start.getMonth()+1}}/{{agent.dates.start.getFullYear()}}
				hr
				strong Allocated {{agent.allocations.allocated}} hours
				br
				|Finished {{agent.allocations.done}} hours
			.col-md-5
				button.btn(ng-click='removeAgent(agent)') Remove agent from campaign
				hr
				strong Rate Agent
				a(href='' ng-click='rateStars(agent, 1)')
					span(class='{{star(agent_reviews[agent.name].rating, 1)}}')
				a(href='' ng-click='rateStars(agent, 2)')
					span(class='{{star(agent_reviews[agent.name].rating, 2)}}')
				a(href='' ng-click='rateStars(agent, 3)')
					span(class='{{star(agent_reviews[agent.name].rating, 3)}}')
				a(href='' ng-click='rateStars(agent, 4)')
					span(class='{{star(agent_reviews[agent.name].rating, 4)}}')
				a(href='' ng-click='rateStars(agent, 5)')
					span(class='{{star(agent_reviews[agent.name].rating, 5)}}')
				hr
				a(href='' ng-click='showTestimodal(agent)') Write agent testimonial
		hr
		.row
			.col-md-12
				h3 {{non_agents.length}} previously active agents
		.row.agent-box(ng-repeat='agent in non_agents')
			.col-md-2
				span.glyphicon.glyphicon-user
			.col-md-5
				h4 {{agent.name}}
				| Invited on 3/12/2015
				hr
				strong Allocated {{agent.allocations.allocated}} hours
				br
				|Finished {{agent.allocations.done}} hours
			.col-md-5
				button.btn(ng-click='addAgent(agent)') Add agent back to campaign
				hr
				strong Rate Agent
				a(href='' ng-click='rateStars(agent, 1)')
					span(class='{{star(agent_reviews[agent.name].rating, 1)}}')
				a(href='' ng-click='rateStars(agent, 2)')
					span(class='{{star(agent_reviews[agent.name].rating, 2)}}')
				a(href='' ng-click='rateStars(agent, 3)')
					span(class='{{star(agent_reviews[agent.name].rating, 3)}}')
				a(href='' ng-click='rateStars(agent, 4)')
					span(class='{{star(agent_reviews[agent.name].rating, 4)}}')
				a(href='' ng-click='rateStars(agent, 5)')
					span(class='{{star(agent_reviews[agent.name].rating, 5)}}')
				hr
				a(href='' ng-click='showTestimodal(agent)') Write agent testimonial
	// /container

	include footer.jade
	script(src='client/js/agent.js')