include header.jade
body.greyish(ng-app='agentProfileApp' ng-controller='agentProfileCtrl')
	include ./navbars/main.jade
	//- include ./navbars/sub.jade
	#profile.container
		.row
			.col-md-3
				.row.left-side-outer
					.col-md-12.left-side-inner
						center
							span.glyphicon.glyphicon-user
							br
							h3(ng-bind='agent.name')
							br
							span(ng-bind='"Worked on " + agent.campaigns.length + " Campaigns"')
							br
							span(ng-bind='total+" hours call time"')
							br
							strong(ng-bind="'Location:'")
							br
							span.glyphicon.glyphicon-map-marker
							span(ng-show='!edit_location' ng-bind='agent.location' ng-click='editLocation()')
							hr
							a.button.invite.form-control(href='' data-template-url='../../../client/views/templates/choose-campaign.html', data-animation='am-flip-x', data-auto-close='1', bs-popover) Invite to campaign
							br
							button.message.form-control(ng-click='sendMessage()') Send message
			.col-md-9
				.row.right-side-outer
					.col-md-12.right-side-inner
						h3
							strong(ng-show='!edit_price' ng-bind='"£"+agent.price+"/hour"')
						br
						button.available-div
							strong(ng-bind='"Available "+findAvailability(agent)+" hours this week"')
						br
						div.skills-div(ng-repeat='skill in agent.skills')
							strong(ng-bind='skill') Loading...
						br
						br
						hr
						h3
							strong About me
						p(ng-show='!edit_about_me' ng-bind='agent.about_me')
						br
						br
						h3
							strong Past work
						.row.ng-cloak(ng-repeat='campaign in agent.campaigns')
							hr
							.row
								.col-md-6
									strong(ng-bind='campaign.campaign_name')
									br
									span(ng-bind='getRange(campaign)')
								.col-md-6
									span(ng-bind='hoursWorked(allocations[campaign.campaign])+" hours worked"')
							br
							.row
								.col-md-6
									span(class='{{star(campaign.review.rating,1)}}')
									span(class='{{star(campaign.review.rating,2)}}')
									span(class='{{star(campaign.review.rating,3)}}')
									span(class='{{star(campaign.review.rating,4)}}')
									span(class='{{star(campaign.review.rating,5)}}')
							br
							.row
								.col-md-6
									strong Job Summary
									br
									br
									p(ng-show='!campaign.edit_job' ng-bind='campaign.description')
								.col-md-6
									strong Client testimonial
									br
									br
									p(ng-bind='campaign.review.text')
									br
									p(ng-bind='formatDate(campaign.review.date)')
	// /container

	include footer.jade
	script(src='client/js/agentProfile.js')