include header.jade
  link(href='bower_components/angular-chart.js/dist/angular-chart.min.css')
body.greyish(ng-app='analyticsApp' ng-controller='analyticsCtrl')
  include ./navbars/main.jade
  include ./navbars/sub.jade
  div.row.analytics-row
    .container
      div.col-md-2
        select.form-control(ng-model='filter.agent', ng-change='changeAgent()')
          option(value='') All agents
          option(ng-repeat='agent in agents', value='{{agent.name}}') {{agent.name}}
  .container
    div.row
      div.col-md-4.analytics-outer-div
        div.analytics-inner-div
          center
            strong Allocated hours complete
            h1.ng-cloak {{hours_complete | number : 2}}
            span.ng-cloak {{hours_left | number : 2}} hours left
      div.col-md-4.analytics-outer-div
        div.analytics-inner-div
          center
            strong Calls per hour
            h1.ng-cloak {{getCallsPerHour(calls.length,hours_complete) | number : 2}}
      div.col-md-4.analytics-outer-div
        div.analytics-inner-div
          center
            strong 3 star calls
            h1.ng-cloak {{getStarCalls(3).length}}
    .row
      div.col-md-4
        div.input-group
          span.input-group-addon#basic-addon1
            span.glyphicon.glyphicon-calendar
          input.form-control(type='text', ng-model='filter.date', data-date-format="dd/MM/yy", placeholder='Date', bs-datepicker='', ng-change='changeDate()')
    div.row.analytics-canvas-box
      div.col-md-12
        h3 Call time
      div.col-md-12(style='padding: 20px;')
        canvas#line.chart.chart-line(chart-data='call_chart.data', chart-labels='call_chart.labels', chart-legend='false', chart-series='call_chart.series', chart-click='call_chart.onClick')
    div.row.analytics-canvas-box
      div.col-md-12
        h3 Call stats
      div.col-md-12(style='padding: 20px;')
        canvas#bar.chart.chart-bar(chart-data='stats_chart.data', chart-labels='stats_chart.labels')
      //- div.col-md-8(style='padding: 20px;')
      //-   canvas#barChart(width="100%" height="50")



  // /container

  include footer.jade
  script(src='client/js/analytics.js')
  script(src='bower_components/Chart.js/Chart.min.js')
  script(src='bower_components/angular-chart.js/dist/angular-chart.min.js')