include header.jade
body.greyish(ng-app='billingApp', ng-controller='billingCtrl')
  include ./navbars/main.jade
  .container
    .row
      .col-md-4
        h3 Billing
  br
  br
  #billing.container
    .row
      .col-md-offset-4.col-md-4
        center
          a.date-change(href='' ng-click='changeDate(-1)')
            span Prev
          strong(ng-bind='months[filter.date.start.getMonth()]+" "+filter.date.start.getDate()+" - "+months[dateWeek[6].getMonth()]+" "+dateWeek[6].getDate()') Loading dates...
          a.date-change(href='' ng-click='changeDate(+1)')
            span Next
    div.ng-cloak(ng-repeat='(agent, time) in total_time')
      hr
      .row
        .col-md-3
          strong Agent:
          br
          | {{agent}}
        .col-md-3
          strong Total minutes:
          br
          | {{time*60 | number : 2}}
        .col-md-3
          strong Cost/hour:
          br
          | £ {{prices[agent]}}
        .col-md-3
          strong Total cost:
          br
          | £ {{prices[agent] * time | number : 2}}
    hr
    .row
      .col-md-offset-6.col-md-3
        strong Total weekly cost:
      .col-md-3
        span.ng-cloak £ {{totalCost() | number : 2}}



  // /container

  include footer.jade
  script(src='client/js/billing.js')