include header.jade
body.greyish(ng-app='browseApp', ng-controller='browseCtrl')
  include ./navbars/main.jade
  #browse.container
    div(ng-repeat='agent in agents')
      .row.ng-cloak
        .col-md-3
          span.glyphicon.glyphicon-user
        .col-md-4
          strong {{agent.name}}
          br
          span(ng-bind='"Worked on " + agent.campaigns.length + " Campaigns"')
          br
          span.glyphicon.glyphicon-map-marker
          span {{agent.location}}
          br
          strong About me:
          br
          p {{agent.about_me}}
          strong Skills:
          br
          div.skill(ng-repeat='skill in agent.skills')
            span {{skill}}
        .col-md-2
          strong £{{agent.price}}/hour
          br
          br
          span Number of reviews: {{agent.number_reviews}}
          br
          span Average rating: {{agent.rating}}
        .col-md-3
          button.invite(ng-click='seeProfile(agent)') View profile
      hr

  // /container

  include footer.jade
  script(src='agent/js/browse.js')