include header.jade
body.greyish(ng-app='dashboardApp', ng-controller='dashboardCtrl')
  include ./navbars/main.jade
  include ./navbars/sub.jade
  #client-dashboard.container
    div.row
      div.col-md-2
        select.form-control.agent-select(ng-model='filter.agent', ng-change='changeAgent()')
          option(value='') All agents
          option(ng-repeat='agent in agents', value='{{agent.name}}') {{agent.name}}
      div.col-md-1
        a.filter(href='' data-template-url='../../../client/views/templates/dashboard-popover.html', data-animation='am-flip-x', data-auto-close='1', bs-popover)
          |Filter
          img(src='assets/images/filter.png')
      div.col-md-1
        a.filter(href='' data-template-url='../../../client/views/templates/dashboard-dates-picker.html', data-animation='am-flip-x', data-auto-close='1', bs-popover)
          |Dates
          img(src='assets/images/calendar.png')
      div.col-md-3
        a.page-change(href='' ng-click='changePage(filter.page-1)')
          span Prev
        div.dropdown
          button#dateDropdown.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true',style="float:left;")
            span.ng-cloak Page {{filter.page+1}}
            span.caretspan.glyphicon.glyphicon-triangle-bottom
          ul.dropdown-menu(aria-labelledby='dateDropdown')
            li(ng-repeat='i in getNumber(noOfPages)')
              a(href='', ng-click='changePage(i)') Page {{i+1}}
        a.page-change(href='' ng-click='changePage(filter.page+1)')
          span Next

    div.row.dashboard-lead.ng-cloak(ng-repeat='call in calls | filter : filter | orderBy : "-created" | limitTo:pageEntries:pageEntries*filter.page')
      div.row
        div.col-md-2
          | {{call.agent_name}}
        div.col-md-2
          | {{call.created.getDate()}} / {{call.created.getMonth()+1}} / {{call.created.getFullYear()}}
        div.col-md-2
          | {{call.created.getHours()}} : {{call.created.getMinutes() | minuteFormat}}
        div.col-md-2
          | {{call._id}}
        div.col-md-4
          | Call length: {{call.duration/60 | number: 2}} minutes
      hr
      div.row
        div.col-md-3.dashboard-lead-left
          strong Company
          br
          | {{call.lead_info.company}}
          br
          | {{call.lead_info.address}}
          br
          | {{call.lead_info.number}}
          br
          | {{call.lead_info.email}}
          br
          | {{call.lead_info.person.name}}
          br
          | {{call.lead_info.person.role}}
          hr
          strong Score
          br
          span(class='{{star(call.rating,1)}}')
          span(class='{{star(call.rating,2)}}')
          span(class='{{star(call.rating,3)}}')
          hr
          strong Spoke to
          br
          | {{call.contact_info.person.name}}
          br
          | {{call.contact_info.person.role}}
          br
          | {{call.contact_info.number}}
          br
          | {{call.contact_info.email}}
          hr
          strong Outcome
          br
          |{{call.outcome}}
        div.col-md-9
          div.row
            div.col-md-12
              strong Call notes
              br
              |{{call.notes}}
          hr
          div.row
            div.col-md-12
              strong Call recording
              audio-player(source='call.recording_url')

          hr
          div.row
            div.col-md-4.dashboard-question(ng-repeat='answer in call.answers')
              strong {{answer.question}}
              br
              |{{answer.answer}}

    button.btn.btn-primary(ng-hide='noOfPages==0' ng-click='download()') Download CSV


  // /container

  include footer.jade
  script(src='client/js/dashboard.js')