include header.jade
link(rel='stylesheet', href='bower_components/textAngular/dist/textAngular.css')
link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
body.greyish(ng-app='scriptApp' ng-controller='scriptCtrl')
  include ./navbars/main.jade
  include ./navbars/sub.jade
  include ./navbars/admin.jade
  .container
    div.row
      div.col-md-12
        h3 Script
    div.row
      div.col-md-12
        //- textarea.form-control(rows='40',placeholder="#1 Raise curiosity (who is this? why should I care?)\n#2 Give context (elevator pitch)\n#3 Ask for permission to continue\n#4 Ask questions. Learn about their needs. Define if they are a fit\n#5 Test close: Price sensitivity, Timeline, etc\n#6 Schedule next steps\n==============================\nOpening:\n#1\nHi, my name is___________. I’m calling some startups in the area to find out if they are a good fit for our product/service/beta program.\n#2\nWhat we do in a sentence is we provide companies with xyz.\n#3\nDoes this in general sound interesting to you?\n#4\nQualifying:\nWhat is your current xyz process?\nWho are your customers? How do you currently solve xyz?\nEtc.\n#5\nTest Closing:\nWe would want to start in X weeks - does this work for you?\nThe beta program is heavily discounted. It’s going to be $X/day per.\nWhat is the decision making process in your company?\nEtc.\n#6\nNext Steps\nGreat. Sounds like this could be a good fit. Let me send you our brochure and schedule a time next week to discuss all your questions etc.\nWhat’s the best email to send you information and the cal invite?\nWhat’s a good time to chat next week?")
        //-   |#1 Raise curiosity (who is this? why should I care?)
        //-   |#2 Give context (elevator pitch)
        //-   |#3 Ask for permission to continue
        //-   |#4 Ask questions. Learn about their needs. Define if they are a fit
        //-   |#5 Test close: Price sensitivity, Timeline, etc
        //-   |#6 Schedule next steps
        //-   |==============================
        //-   |Opening:
        //-   |#1
        //-   |Hi, my name is___________. I’m calling some startups in the area to find out if they are a good fit for our product/service/beta program.
        //-   |#2
        //-   |What we do in a sentence is we provide companies with xyz.
        //-   |#3
        //-   |Does this in general sound interesting to you?
        //-   |#4
        //-   |Qualifying:
        //-   |What is your current xyz process?
        //-   |Who are your customers? How do you currently solve xyz?
        //-   |Etc.
        //-   |#5
        //-   |Test Closing:
        //-   |We would want to start in X weeks - does this work for you?
        //-   |The beta program is heavily discounted. It’s going to be $X/day per.
        //-   |What is the decision making process in your company?
        //-   |Etc.
        //-   |#6
        //-   |Next Steps
        //-   |Great. Sounds like this could be a good fit. Let me send you our brochure and schedule a time next week to discuss all your questions etc.
        //-   |What’s the best email to send you information and the cal invite?
        //-   |What’s a good time to chat next week?")
        div(ng-show='!editing')
          .row
            .col-md-12.script(ng-bind-html="script")
          .row
            .col-md-3
              button.btn.btn-primary.ng-cloak(ng-click='edit()') Edit
        div(ng-show='editing')
          div(text-angular ta-toolbar='toolbar' ng-model="script")
          div.row
            div.col-md-3
              button.btn.btn-success.ng-cloak(ng-click='save()') Save
            div.col-md-3
              button.btn.btn-primary.ng-cloak(ng-click='cancel()') Cancel
  include footer.jade
  script(src='../../../client/js/script.js')
  script(src='../bower_components/textAngular/dist/textAngular-rangy.min.js')
  script(src='../bower_components/textAngular/dist/textAngular-sanitize.min.js')
  script(src='../bower_components/textAngular/dist/textAngular.min.js')